@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  border: none;
  scroll-behavior: smooth;
}

body,
button {
  font-family: "Poppins", sans-serif;
}

:root {
  --card-bkg-color: #fff;
  --body-color: #e5e5e5;
  --text-color: #000;
  --dark-blue: #6070ff;
  --light-blue: #e1e2ff;
  --title-color: #172b4d;
  --content-color: #344563;
  --hover-color: #2230d2;
  --links-color: #505f79;
  --a-link-color: #7f8cff;
  --porfolio-bkg-color: #f7f7f9;
  --bullet-color: #c1c7d0;
  --work-title: #172b4d;
  --year-color: #7a869a;
  --border-color: #dfe1e6;
}

body {
  width: 375px;
  align-items: center;
  justify-content: center;
  background: var(--body-color);
}

h1 {
  font-size: 2.5rem;
  line-height: 52px;
  font-weight: 700;
  color: var(--title-color);
}

h2 {
  font-size: 1.9rem;
  font-style: bold;
  line-height: 2rem;
}

h3 {
  font-size: 0.8rem;
  font-weight: normal;
  color: var(--year-color);
}

h4 {
  font-size: 0.8rem;
  font-weight: 500;
}

p {
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 200;
  font-style: normal;
  color: var(--content-color);
  margin-bottom: 0.7rem;
}

.bullet-point {
  background: var(--bullet-color);
  width: 8px;
  height: 8px;
  border-radius: 50%;
  margin: 15px;
}

.container {
  width: 375px;
  height: 552px;
  padding: 1rem 1.5rem;
}

#homepage {
  width: 375px;
  height: 718px;
  background-image: url(./images/header-background-mobile.png);
  background-repeat: no-repeat;
}

.app-bar {
  display: flex;
  justify-content: center;
  margin-right: 1rem;
  margin-top: -1rem;
}

/* navigation starts */

nav {
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav h2 {
  color: var(--dark-blue);
  letter-spacing: 0.2rem;
  font-size: 1.1;
}

#logo {
  cursor: pointer;
}

#logo:hover {
  cursor: pointer;
  color: var(--hover-color);
}

.menu-bar {
  width: 1.5rem;
  cursor: pointer;
}

/* navigation ends */

/* hero-section */

.hero-section {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header-shapes {
  display: flex;
  position: absolute;
  align-items: center;
  justify-content: center;
  margin-top: 6rem;
  right: 0;
  left: 0;
}

.hero-title h1 {
  margin-top: 6rem;
  margin-bottom: 0.5rem;
}

.connect {
  font-size: 1rem;
  letter-spacing: 0.1rem;
  color: var(--a-link-color);
  cursor: pointer;
}

.social-links {
  display: flex;
  margin-top: 0.8rem;
  align-items: center;
  cursor: pointer;
}

.social-links img {
  margin-right: 1rem;
}

/* hero-section ends */

/* portfolio section starts */

.grid-container {
  display: grid;
  grid-template-columns: 1fr;
  justify-content: center;
}

#portfolio-section {
  display: flex;
  justify-content: center;
  padding-top: 7.2rem;
  background: var(--porfolio-bkg-color);
  margin-top: -7rem;
  position: relative;
  z-index: -1;
}

.card {
  width: 327px;
  height: 552px;
  background: var(--card-bkg-color);
  border-radius: 1rem;
  padding: 1rem;
  margin-top: 5.5rem;
  border: 1px solid var(--border-color);
}

.work-details {
  display: flex;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 10px;
}

.work-title {
  color: var(--work-title);
}

.card p {
  font-size: 0.9rem;
  line-height: 1.5rem;
}

.work-tools ul {
  display: flex;
}

.tools-btn {
  padding: 4px 12px;
  background: var(--light-blue);
  border-radius: 12px;
  margin-right: 5px;
  color: var(--dark-blue);
  margin-top: 0.4rem;
}

.primary-btn {
  padding: 10px 20px;
  color: var(--dark-blue);
  border: 1px solid var(--dark-blue);
  border-radius: 8px;
  background: var(--card-bkg-color);
  margin-top: 1rem;
  cursor: pointer;
}

.primary-btn:hover {
  background: var(--dark-blue);
  color: var(--card-bkg-color);
  box-shadow: 4px 4px 7px #7f8aed;
}

/* portfolio section ends */

/* About section starts */
#About {
  display: flex;
  flex-direction: column;
  background: var(--porfolio-bkg-color);
}

.about-base {
  margin-top: 7rem;
}

.About-Details {
  position: absolute;
  margin-top: 14rem;
}

.About-title h1 {
  margin-bottom: 0.5rem;
}

.languages {
  display: flex;
  justify-content: space-between;
  margin-top: 4rem;
  margin-bottom: 2rem;
}

.languages svg {
  width: 30px;
}

.languages h4 {
  font-size: 1.25rem;
}

.languages-box {
  display: flex;
  align-items: center;
  background: var(--porfolio-bkg-color);
  width: 303px;
  height: 66.72px;
  margin-bottom: 0.75rem;
}

.languages-box a {
  display: flex;
  align-items: center;
}

.languages-box img {
  margin-left: 0.7rem;
}

span {
  margin-left: 1rem;
}

.line {
  height: 1px;
  width: 327px;
  background: var(--border-color);
  margin-top: 1rem;
}

.skill {
  display: flex;
  justify-content: space-between;
  margin-top: 2rem;
}

.skill svg {
  width: 8%;
  height: 8%;
}

.skill h4 {
  font-size: 1.25rem;
  margin-bottom: 0.5rem;
}

/* About section ends */

/* Contact section Start */
#contact-area {
  background-image: url(./images/Frame.svg);
  height: 779px;
  background-repeat: no-repeat;
  background-position: cover;
  margin-top: -7rem;
  position: relative;
  z-index: 20;
}
